body {
  font-family: verdana;
}

input,button {
  height: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;

  padding: 1rem;
  background-color: rgb(146, 146, 208);
}

nav > button {
  display:flex;
  text-decoration: dashed;
  color: orange;
}

/*A media query should be used so that on screen widths less than 700px only show 1 book per line.*/

@media (max-width: 700px) {
  .book {
    width: 100%;
  }
}



  ul {
    display: flex;
    flex-wrap: wrap; 
  }
  li {
    flex-basis:25%
  }
  
img {
  display:flex;
  justify-content: center;
  width: 50rem;
  height: 50rem;
 
}

